* {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: darkgreen;
  height: 500px;
  background-image: url(top.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: white;
  padding-top: 200px;
  text-align: center;
  padding-right: 440px;
  font-size: 36px;
}

.topNav {
  margin-top: 200px;
  text-align: center;
}

.topNav ul {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
  list-style: none;
}

.topNav ul a {
  color: white;
}

article{
  width: 960px;
  margin: 50px auto;
}

section h3 {
  text-align: center;
  margin-top: 32px;
  font-size: 28px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.flex img {
  width: 400px;
}

footer{
  background-color: fuchsia;
  text-align: center;
  padding: 30px;
}










